<div class='cont'>
  <h1>Hello, I am Erica</h1>

  <div class="chat-container">
    <% session[:messages].each do |message| %>
      <% if message[:user] %>
        <div class="user-message">
          <p><%= message[:user] %></p>
        </div>
      <% end %>

      <div class="bot-message">
        <p><%= message[:bot] %></p>
      </div>
    <% end %>
  </div>

  <%= form_tag(chatbot_path, method: :post) do %>
    <%= text_field_tag :user_input %>
    <%= submit_tag "Send" %>
  <% end %>
</div>
