<div class='cont'>
  <h1>PathBot</h1>

  <div class="chat-container">
    <% session[:messages].last(10).each do |message| %>
      <% if message[:user] %>
        <div class="user-message">
          <p><%= message[:user] %></p>
        </div>
      <% end %>

      <div class="bot-message">
        <p><%= message[:bot] %></p>
      </div>
    <% end %>
  </div>

  <div class="input-container">
    <%= form_tag(chatbot_path, method: :post) do %>
      <%= text_field_tag :user_input, nil, placeholder: "Type a message..." %>
      <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>
